<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- <meta> 태그는 해당 HTML 문서에 대한 정보인 메타데이터(metadata)를 정의할 때 사용, <head> 요소 내부에 위치 -->
    <!-- 문자 인코딩 방식을 명시 -->
    <meta charset="UTF-8">
    <!-- name 속성에 viewport(사용자가 볼 수 있는 영역) 속성값을 제공 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성적 확인 사이트</title>
</head>
<body>
    <div>
        <a href="/home">메인화면 바로가기</a>
    </div>
    <!-- 템플릿 상속 (Inheritance) -->
    {% block content %}{% endblock %}
</body>
</html>